<!doctype html>
<!--
  Strata by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= current_page.data.title || 'Boulder Ruby' %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic" rel="stylesheet">

    <meta property="og:title" content="Ruby Meetup Group in Boulder, Colorado">
    <meta property="og:description" content="Once a month Ruby meetup in Boulder, Colorado.  Presentation Night is the second Wednesday each month. Full / Lightning talks / Food / Drink. Join us!">
    <meta property="og:image" content="http://boulder-ruby.org/images/boulder_ruby_logo_sm.png" />
    <meta property="og:image:secure_url" content="https://boulder-ruby.org/images/boulder_ruby_logo_sm.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="150" />
    <meta property="og:url" content="https://boulder-ruby.org/">

    <meta name="twitter:title" content="Ruby Meetup Group in Boulder, Colorado">
    <meta name="twitter:description" content="Once a month Ruby meetup in Boulder, Colorado.  Presentation Night is the second Wednesday each month. Full / Lightning talks / Food / Drink. Join us!">
    <meta name="twitter:image" content="https://boulder-ruby.org/images/boulder_ruby_logo_sm.png">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body class="is-preload">
    <%= partial 'layouts/header' %>

    <div id="main">
      <%= yield %>
    </div>

    <%= partial 'layouts/footer' %>
  </body>

</html>
